{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Projects</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    
    <nav class="navbar container">
        <ul>
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}">Tasks</a>
            </li>
            <li>
                <a href="{% url 'create_task' %}">Create task</a>
            </li>
            <li>
                <a href="{% url 'create_project' %}">Create Project</a>
            </li>
        </ul>
    </nav>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>