body {
    background: #202020;
    color: whitesmoke;
}

.navbar {
    background: #404040;
    padding: 5px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: aquamarine;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}

.card {
    background: whitesmoke;
    color: black;
    padding: 10px;
    margin-bottom: 2px;
}

.input {
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}