{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, hic possimus! Veritatis blanditiis enim corporis recusandae repellat nihil architecto modi eveniet pariatur expedita ipsa numquam sunt, libero vero quaerat eius hic. Voluptas veniam atque fuga at cum ea nesciunt dolore, nemo perspiciatis nisi, possimus quaerat, accusamus fugit facilis optio eaque maiores aperiam sunt quisquam repellendus ratione commodi inventore itaque vero? Magni asperiores sequi laborum doloribus quaerat minus natus molestiae, nulla quisquam, ratione enim quos, dolorem corrupti modi earum dicta error numquam totam sit corporis dolore! Sint libero dolor obcaecati ipsa molestias. Consequatur voluptates eligendi iusto debitis possimus adipisci quidem natus.</p>

<p>Website created by {{ username }}</p>

{% endblock %}